name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: ${{ matrix.distro }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/fullaxx/fbpanel_builder:${{ matrix.distro }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - distro: noble
            libdir: lib
          - distro: jammy
            libdir: lib
          - distro: focal
            libdir: lib
          - distro: trixie
            libdir: lib
          - distro: bookworm
            libdir: lib
          - distro: bullseye
            libdir: lib
          - distro: fedora43
            libdir: lib64
          - distro: fedora42
            libdir: lib64
          - distro: fedora41
            libdir: lib64
          - distro: fedora40
            libdir: lib64

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure
        run: cmake -B build -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_INSTALL_LIBDIR=${{ matrix.libdir }}

      - name: Build
        run: make -C build -j$(nproc)

      - name: Install (staging)
        run: make -C build install DESTDIR=/tmp/fbpanel_staging
